---
import Layout from '../layouts/Layout.astro';
import CardTwo from '../components/CardTwo.astro';
---
<Layout title="About Astro" pageId="about">
	<main>
		<h1>About <span class="text-gradient">Astro</span></h1>
		<CardTwo text="Documentation"/>
	</main>
</Layout>
